!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/tags
/tmp/*


frontend/dist
frontend/tmp

# dependencies
frontend/node_modules
frontend/bower_components

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage/*
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log
